<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header'); -%>
<body id="page-top">
    <%- include('layouts/navbar'); -%>

    <header class="masthead text-dark text-center">
        <div class="container d-flex align-items-center flex-column">
            <div id="cat-image" class="mb-5">
                <p class="masthead-subheading font-weight-light mb-0" style="color: blueviolet;">This Api (Cat Generator) provides cat images.</p>
                <p class="masthead-subheading font-weight-light mb-0"> According to global data, more than 3.2 million cats are homeless. Kittens and their friends puppies are looking for a home and a good owner, it could be you <i class="fa fa-heart" style="color: brown;" aria-hidden="true"></i>  </p>
                <img src="<%= catImage.url %>" alt="Random Cat Image">
                <p class=" font-weight-light mb-0"> (Please wait 4-5 sec. Adorable cat image is loading)  </p>
            </div>
            <a href="/catgen"><button type="button" class="btn btn-success mb-2">Get new image</button></a>
        </div>

        <div class="container d-flex align-items-center flex-column mb-5 mt-3 text-muted">
            <h4> Addresses of homeless animal shelters in Astana, where you can find puppies and kittens:</h4>
            <li><strong>Mergen</strong> просп. Абая, 40, Нур-Султан (Астана), Казахстан</li>
            <li><strong>Политическое убежище</strong> Казахстан, Нур-Султан (Астана), жилой комплекс Краун Плаза</li>
            <li><strong>Ветсервис</strong> пер. Аксумбе, 1, Астана</li>
            <li><strong>Я живой</strong> ул. Аккорган, 5В, микрорайон Коктал, Астана</li>
            <li><strong>Inucobo</strong>ул. Кенесары, 52, Астана</li>
         </div>
    </header>



   

    <%- include('layouts/footer'); -%>
 <%- include('layouts/scripts'); -%>

</body>
</html>
