<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body id="page-top">
        <%- include('layouts/navbar'); -%>
        
        <section class="vh-100">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-8">
                        <h6 class=" text-dark display-5" style="margin-top: 150px; text-align: center;">NASA Astronomy Picture of the Day API</h6>
                        <h6 class=" text-dark " style=" text-align: center;">Over the past decade NASA has funded over 50 experiments using vertebrate animals. So, our little friends animals helped us to explore space.</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <% if (error) { %>
                                        <p class="error"><%= error %></p>
                                    <% } else if (nasaDataToEjs) { %>
                                        <img src="<%= nasaDataToEjs.url %>" class="card-img-top" alt="NASA APOD">
                                    <% } %>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-body">
                                        <% if (nasaDataToEjs) { %>
                                            <h5 class="card-title"><%= nasaDataToEjs.title %></h5>
                                            <p class="card-text"><%= nasaDataToEjs.description %></p>
                                            <p class="card-text"><small class="text-muted">Date: <%= nasaDataToEjs.date %></small></p>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            

        <%- include('layouts/footer'); -%>
        
        <%- include('layouts/scripts'); -%>
    </body>
</html>
