<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body id="page-top" ></body>>
        <%- include('layouts/navbar'); -%>
        
        <section class="vh-100">
            <div class="container mt-5 h-100">
      
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-md-8 col-lg-6 col-xl-4">
        
                        <h3 class="ml-2 mb-4 display-5 text-dark">Check weather</h3>
        
                        <form id="city_form" action="/weather" method="get">
                            <div class="input-group rounded mb-3">
                                <input id="city" name="city" type="search" class="form-control rounded" placeholder="City" aria-label="Search"
                                    aria-describedby="search-addon" />
                                <button type="submit" class="btn btn-primary" id="search-button">
                                    Check
                                </button>
                            </div>
                        </form>
    
        
                        ` <% if (error) { %>
                            <p class="error"><%= error %></p>
                            <% } else if (WeatherDataToEjs) { %>
                            <div class="card">

                              <p>
                                <i class="fas fa-map-marker-alt"></i>
                                <%=WeatherDataToEjs.city%>, <%=WeatherDataToEjs.country%>
                              </p>

                              <p>
                                <i class="fas fa-thermometer-half"></i>
                                Temperature: <%=WeatherDataToEjs.temperature%>&deg;°C 
                              </p>
                              <p>
                                <i class="fas fa-thermometer-half"></i>
                                Feels like: <%=WeatherDataToEjs.feelsLike%> °C 
                              </p>

                              <p>
                                <img src="http://openweathermap.org/img/w/<%= WeatherDataToEjs.icon %>.png" alt="Weather Icon">
                                <%= WeatherDataToEjs.weatherDescription %>  
                                </p>

                              <p>
                                <i class="fa-solid fa-water"></i>
                                Humidity: <%=WeatherDataToEjs.humidity%> % 
                              </p>

                              <p>
                                Pressure: <%=WeatherDataToEjs.pressure%> Pa 
                              </p>

                              <p>
                                <i class="fa-solid fa-wind"></i>
                                Wind speed: <%=WeatherDataToEjs.windSpeed%> M/sec
                              </p>

                              

                            </div>
                            <% } %>
                        
        
                    </div>
                </div>
        
            </div>
        </section>

        <%- include('layouts/footer'); -%>
        
        <%- include('layouts/scripts'); -%>
    </body>
</html>
